<div class="main-footer">
    <div class="footer-top">
        <img class="skull" src="../../assets/crane.png" alt="Dessin de crane">
        <img class="cloud"  src="../../assets/nuage-copy-3.png" alt="Dessin de nuage">
    </div>
    <div class="footer-bottom">
        <div>
            <h4>Partenaires</h4>
            <ul>
                <li>Devenir partenaire</li>
                <li>Nos partenaires</li>
            </ul>
        </div>
        <div>
            <h4>Pro / Presse</h4>
            <ul>
                <li>Documents Presse</li>
            </ul>
        </div>
        <div class="contact">
            <ul>
                <li>Contact</li>
                <li>Mentions légales</li>
                <li>Plan du site</li>
            </ul>
            <button>INSCRIVEZ VOUS À LA NEWSLETTER !</button>
            <button>ENVIE D'ÊTRE BÉNÉVOLE ?</button>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2020 Festival Les Déferlantes Sud de France | Réalisation AttrapTemps</p>
    </div>
</div>